@import "tailwindcss";

@font-face {
  font-family: 'Bitro Inspire';
  src: url('./fonts/VITRO INSPIRE OTF.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sandoll Gothic Neo';
  src: url('./fonts/AppleSDGothicNeoT.ttf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
